.stats {
    margin-left: 15%;
    margin-right: 15%;
}

.scores_totals {
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2%;
    padding: 2%;
}

.stats_totals {
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2%;
    padding: 2%;
}

.stats p {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}