.login_card input {
    border: none;
    border-radius: 5px;
    min-width: 80%;
    max-width: 100%;
    margin-bottom: 5%;
    margin-top: 1%;
    text-align: center;
}

.login_card {
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;
    padding: 1%;
    width: 20%;
}

button {
    text-align: center;
    width: 80px;
}

.login_buttons {
    column-gap: 5%;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.login_buttons button {
    border: none;
    border-radius: 5px;
}