.register_card input {
    border: none;
    border-radius: 5px;
    min-width: 80%;
    max-width: 100%;
    margin-bottom: 5%;
    margin-top: 1%;
    text-align: center;
}

.register_card {
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;
    padding: 1%;
    width: 40%;
}

button {
    text-align: center;
    min-width: 60px;
}

.register_buttons {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.cancel_register {
    margin-bottom: 2%;
}