/* .find_course_container {
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    min-width: fit-content;
    padding: 1%;
    width: 70%;
}

.find_course_container button {
    border: none;
    border-radius: 5px;
}

.find_course_container input {
    border: none;
    border-radius: 5px;
    min-width: 80%;
    max-width: 100%;
    margin-bottom: 5%;
    margin-top: 1%;
    text-align: center;
}

.find_course_container select {
    border: none;
    border-radius: 5px;
    text-align: center;
}

.course_name_result {
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    padding: 1%;
    max-width: 70%;
}

.course_name_result button {
    border: none;
    border-radius: 5px;
    margin: 1%;
}

#course_name {
    font-weight: bold;
} */